<section class="ptg-sheet">

  <header>

    <h1>{{actor.name}}</h1>

    <div>
      {{system.identity.occupation}}
    </div>

    <div>
      {{system.identity.archetype}}
    </div>

    <div>
      {{system.identity.dominion}}
    </div>

    <div>
      {{system.identity.theology}}
    </div>

  </header>

  <nav>

    <button data-tab-button="overview">
      Overview
    </button>

    <button data-tab-button="skills">
      Skills
    </button>

    <button data-tab-button="manifestations">
      Manifestations
    </button>

    <button data-tab-button="inventory">
      Attachments
    </button>

  </nav>

  <section
    data-tab-content="overview">

    {{> overview}}

  </section>

  <section
    data-tab-content="skills"
    style="display:none">

    {{> skills}}

  </section>

  <section
    data-tab-content="manifestations"
    style="display:none">

    {{> manifestations}}

  </section>

  <section
    data-tab-content="inventory"
    style="display:none">

    {{> inventory}}

  </section>

</section>