<div class="ptg-roll-card">

  <header>
    <h3>{{localize "PTG.Chat.RollTitle" skill=skill}}</h3>
    <div class="ptg-meta">
      {{localize "PTG.Chat.Pool"}}: {{pool}} | {{localize "PTG.Chat.SurgeUsed"}}: {{surgeUsed}}
    </div>
  </header>

  <section class="ptg-rolls">
    {{#each rolls}}
      <span class="die {{#if (gte this 6)}}explode{{/if}}">
        {{this}}
      </span>
    {{/each}}
  </section>

  <footer>
    <strong>{{localize "PTG.Chat.Successes"}}:</strong> {{successes}}
  </footer>

</div>
